<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.capra.configuration.artifactMetaModel">
      <ArtifactMetaModelAdapter
            class="org.eclipse.capra.generic.artifactmodel.GenericArtifactMetaModelAdapter">
      </ArtifactMetaModelAdapter>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated artifact -->
      <package
            uri="org.eclipse.capra.generic.artifactmodel"
            class="org.eclipse.capra.generic.artifactmodel.ArtifactmodelPackage"
            genModel="model/artifact.xcore"/>
   </extension>

</plugin>
